<!DOCTYPE html>
<html>
  <head>
    <title> Administrador de Bebidas Alcoholicas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   
  </head>
  <body>
    <h1>Administrador de Bebidas Alcoholicas</h1>
    <form action="" method="POST" name="formB">
      <label for="marca"> Marca</label>
      <input type="text" name="marca" id="marca">

      <label for="tipo"> Tipo</label>
      <input type="text" name="tipo" id="tipo">

      <label for="anio"> Anios</label>
      <input type="text" name="anio" id="anio">
      <button type="submit"></button>
    </form>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
